@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 14px;
}

.bg-purple {
    background-color: #8e00a3;
}

.headerWrapper .top-strip {
    padding: 8px 0px;
}

.container{
    max-width: 85%;
    height: 0 auto;
}


.headerWrapper .top-strip p {
    color: #ffff;
    font-size: 12px;
    font-weight: 500;
}

.headerWrapper .header {
    width: 100%;
    height: auto;
    padding: 10px opx;
}

.logoWrapper img {
    width: 200px;
    height: 150px;
}

.headerWrapper .header .part2 .countryDrop {
    width: 150px;
    height: auto;
    min-width: 150px;
    text-align: left;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}


.headerWrapper .header .part2 .countryDrop .lable {
    font-size: 12px !important;
    text-transform: capitalize !important;
    color: black !important;
    line-height: 16px;
}

.headerWrapper .header .part2 .countryDrop .name {
    font-size: 14px !important;
    text-transform: capitalize !important;
    color: black !important;
    font-weight: 700;
    line-height: 16px;
}

.headerWrapper .header .part2 .countryDrop span.ml-auto svg {
    opacity: 0.7;
}

header .headerSearch {
    width: 60%;
    height: 60px;
    background: #f3f4f7;
    padding: 10px;
    position: relative;
    margin-left: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
}

header .headerSearch input {
    background: transparent;
    outline: none !important;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
    width: 100%;
    border: 0px;
    height: 40px;
    padding: 0 20px !important;
}

/* for placeholder */
header .headerSearch input::-webkit-input-placeholder{
    color: rgba(0, 0, 0, 1);
}

header .headerSearch button {
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 100;
    min-width: 40px !important;
    height: 40px !important;
    width: 40px !important;
    border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    -o-border-radius: 50% !important;
}


header .headerSearch button svg {
    font-size: 40px;
}

header .part3 .circle {
    align-items: center;
    justify-content: center;
    min-width: 50px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: black;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-left: 30px;
    margin-right: 30px;
}

header .part3 .circle svg {
    font-size: 22px;

}

.part3 Button {
    background: #fff1ee;
}

.cartTab button svg {
    color: #ea2b0f;
}

.cartTab .count{
    position: absolute;
    top: -7px;
    right: 29px;
    background-color: #ea2b0f;
    border-radius: 50%;
    color:#fff;
    width: 20px;
    height: 20px;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}